<% include ./partials/header %>
    <script type="text/javascript" src="/assets/index.js"></script>
    <script type="text/javascript" src="/assets/Factory/globalFunctions.js"></script>
    <script type="text/javascript" src="/assets/Controllers/mainController.js"></script>
    <!-- <script type="text/javascript" src="/assets/Controllers/Widget/weatherController.js"></script> -->
    <script type="text/javascript" src="/assets/Controllers/indexController.js"></script>
    <script type="text/javascript" src="/assets/Controllers/newPostController.js"></script>
    <script type="text/javascript" src="/assets/Controllers/optionController.js"></script>
    <script type="text/javascript" src="/assets/Controllers/etheriumController.js"></script>
    <script type="text/javascript" src="/assets/js/web3.min.js"></script>
    <%if(currentUser){%>
        <div class="ui left demo vertical inverted sidebar labeled icon menu">
            <a ng-click="allPost()" ui-sref="index" class="item">
                <i class="home icon"></i> Comu
            </a>
            <a ng-click="createPost()" href="" class="item">
                <i class="plus square outline icon"></i> New Post
            </a>
            <a ui-sref="option" class="item">
                <i class="tv icon"></i> Option
            </a>
            <a ui-sref="Etherium" class="item">
                <i class="superscript icon"></i> Earn Etherium
            </a>
            <a href="/logout" class="item">
                <i class="tv icon"></i> Logout
            </a>
        </div>
        <a ng-click="toggleSideBar()" href=""><i ng-click="toggleSideBar()" class="chevron circle right icon big toggleSideBar"></i></a>
        <%}%>
            <div id="MainDiv">
                <%if(!currentUser){%>
                    <div class="ui inverted vertical masthead center aligned segment">
                        <div class="ui text container">
                            <h1 class="ui inverted header">Comu</h1>
                            <h2>Everything is relevant</h2>
                            <a class="ui huge yellow button item" href="/register">Register</a>
                            <a class="ui huge gray button item" href="/login">Login</a>
                        </div>
                    </div>
                    <%}%>
                        <div ui-view class="ui container"></div>
                        <!-- newPost -->
                        <div class="newPost ui modal" ng-controller="newPost">
                            <div id="newPostheader" class="ui text">
                                <h1>New Post</h1>
                            </div>
                            <div class="newPostInner ui container">
                                <div class="ui segment">
                                    <form class="ui form">
                                        <div class="fields">
                                            <input ng-model="title" class="form-control" type="text" name="" value="" placeholder="Title">
                                        </div>
                                        <div class="fields">
                                            <textarea ng-model="content" class="form-control" name="name" rows="8" cols="80" placeholder="Content"></textarea>
                                        </div>
                                        <button class="ui button black" ng-click="newPost()" type="button" name="button">Post</button>
                                    </form>
                                </div>
                            </div>
                        </div>

            </div>
            <!-- <%if(currentUser){%> -->
                <!-- WEATHER WIDGET -->
                <!-- <div id="weatherNTime" class="ui raised segment" ng-controller="weatherController" data-ng-init="getWeather()">
                    <h3>Your current weather:</h2>
                        <p ng-bind="city"></p>
                        <p ng-bind="weather"></p>
                </div> -->
                <!-- <%}%> -->
<% include ./partials/footer %>
