<% include ./partials/header %>
<script type="text/javascript" src="/assets/index.js"></script>
<%if(currentUser){%>
<div class="ui left demo vertical inverted sidebar labeled icon menu">
  <a ui-sref="index" class="item">
    <i class="home icon"></i>
    Comu
  </a>
  <a href="/createPost" class="item">
    <i class="plus square outline icon"></i>
    New Post
  </a>
  <a ui-sref="option" class="item">
    <i class="tv icon"></i>
    Option
  </a>
  <a href="/logout" class="item">
    <i class="tv icon"></i>
    Logout
  </a>
</div>
<a href=""><i class="chevron circle right icon big toggleSideBar"></i></a>
<%}%>
<div id="MainDiv">
  <%if(!currentUser){%>
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">Comu</h1>
      <h2>Everything is relevant</h2>
      <a class="ui huge yellow button item" href="/register">Register</a>
      <a class="ui huge gray button item" href="/login">Login</a>
    </div>
  </div>
  <%}%>
  <div ui-view class="ui container"></div>
</div>
<%if(currentUser){%>
<div id="weatherNTime" class="ui raised segment" ng-controller="weatherController" data-ng-init="getWeather()">
  <h3>Your current weather:</h2>
  <p ng-bind="city"></p>
  <p ng-bind="weather"></p>
</div>
<%}%>
<% include ./partials/footer %>
