<br>
<h1>Latest Posts:</h1>
<br>
<div class="post ui segment" ng-repeat="post in data | orderBy : '-created'">
    <a ng-click="viewPost(post._id)" href>
        <div class="post">
            <h2>{{post.name}}</h2>
            <p>Posted by: {{post.author.username}}</p>
            <h4>{{post.description}}</h4>
        </div>
    </a>
</div>
<br>
<!-- viewPost -->
<div class="viewPost ui modal">
    <div class="post ui segment">
        <div class="post">
            <h2>{{postData.name}}</h2>
            <p>Posted by: {{postData.author.username}}</p>
            <h4>{{postData.description}}</h4>
        </div>
        <br>
        <div ng-if="managePost">
            <a href ng-click="editPost(postData._id)" class="ui button red">edit</a>
            <a href ng-click="deletePost(postData._id)" class="ui button red">Delete</a>
        </div>
    </div>
</div>

<div class="editPost ui modal">
    <div id="newPostheader" class="ui text">
        <h1>Edit Post</h1>
    </div>
    <div class="editInner ui container">
        <div class="ui segment">
            <form class="ui form">
                <div class="fields">
                    <input ng-model="edit.Title" class="form-control" type="text" name="" placeholder="Title">
                </div>
                <div class="fields">
                    <textarea ng-model="edit.Content" class="form-control" name="name" rows="8" cols="80" placeholder="Content"></textarea>
                </div>
                <button class="ui button black" ng-click="updatePost(postData._id)" type="button" name="button">Post</button>
            </form>
        </div>
    </div>
</div>
