/*COMMON CSS STYLES FOR ALL PAGES*/


/*MAIN PAGE HEADER*/

.masthead h1.ui.header {
    margin-top: 1.5em;
    margin-bottom: 0em;
    font-size: 2em;
    font-weight: normal;
}

.masthead.segment {
    min-height: 300px;
}

#newPostheader {
    padding-left: 1%;
}


/*TOGGLE SIDE BAR STYLE*/

.toggleSideBar {
    color: black;
    position: fixed;
    top: 50%;
    animation-duration: 1s;
    z-index: 1000;
}

.toggleSideBar:link,a {
    text-decoration: none;
}

a{
    color:black;
}


/*WEATHER AND TIME STYLE*/

#weatherNTime {
    width: 300px;
    top: 82.7%;
    left: 80%;
    position: fixed;
}


/*ANIMATION CSS*/

.flip {
    transform: rotate(-180deg);
}


/*MODAL*/

.newPostInner {
    margin: .5em
}


/*MEDIA RULES*/

@media screen and (max-width: 1910px) {
    #weatherNTime {
        display: none;
    }
}