/*COMMON CSS STYLES FOR ALL PAGES*/

/*MAIN PAGE HEADER*/
.masthead h1.ui.header{
  margin-top: 1.5em;
  margin-bottom: 0em;
  font-size: 2em;
  font-weight: normal;
}
.masthead.segment{
  min-height:300px;
}

/*TOGGLE SIDE BAR STYLE*/
.toggleSideBar{
  color:black;
  position:absolute;
  top:50%;
  animation-duration:1s
}

.toggleSideBar:link{
  text-decoration:none;
}

/*WEATHER AND TIME STYLE*/
#weatherNTime{
  width:300px;
  top:80%;
  left:80%;
  position:absolute;
}

/*ANIMATION CSS*/
.flip { transform: rotate(-180deg);}
