/*COMMON CSS STYLES FOR ALL PAGES*/

/*TOGGLE SIDE BAR STYLE*/
.toggleSideBar{
  color:black;
  position:absolute;
  top:50%;
  animation-duration:1s
}
.toggleSideBar:link{
  text-decoration:none;
}

/*WEATHER AND TIME STYLE*/
#weatherNTime{
  width:300px;
  top:80%;
  left:80%;
  position:absolute;
}

/*ANIMATION CSS*/
.flip { transform: rotate(-180deg);}
